.calculator__button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 28px;
}

.calculator__button--light {
    background-color: $color-light-grey;
    color: $color-black;
}

.calculator__button--dark {
    background-color: $color-dark-grey;
    color: $color-white;
}

.calculator__button--orange {
    background-color: $color-orange;
    color: $color-white;
}