.calculator__button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28px;
}
.calculator__button--light {
  background-color: #cccccc;
  color: #000000;
}
.calculator__button--dark {
  background-color: #655967;
  color: #ffffff;
}
.calculator__button--orange {
  background-color: #ffa500;
  color: #ffffff;
}

.highlight {
  background-color: #ffffff;
  color: #ffa500;
}

#calculator__0 {
  width: 140px;
  border-radius: 40px;
}

.calculator__display {
  padding: 10px;
  color: #ffffff;
  font-size: 60px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.calculator__display {
  grid-area: 1/1/2/5;
}

#calculator__clear {
  grid-area: 2/1/3/2;
}

#calculator__negative {
  grid-area: 2/2/3/3;
}

#calculator__percentage {
  grid-area: 2/3/3/4;
}

#calculator__divide {
  grid-area: 2/4/3/5;
}

#calculator__7 {
  grid-area: 3/1/4/2;
}

#calculator__8 {
  grid-area: 3/2/4/3;
}

#calculator__9 {
  grid-area: 3/3/4/4;
}

#calculator__multiply {
  grid-area: 3/4/4/5;
}

#calculator__4 {
  grid-area: 4/1/5/2;
}

#calculator__5 {
  grid-area: 4/2/5/3;
}

#calculator__6 {
  grid-area: 4/3/5/4;
}

#calculator__minus {
  grid-area: 4/4/5/5;
}

#calculator__1 {
  grid-area: 5/1/6/2;
}

#calculator__2 {
  grid-area: 5/2/6/3;
}

#calculator__3 {
  grid-area: 5/3/6/4;
}

#calculator__plus {
  grid-area: 5/4/6/5;
}

#calculator__0 {
  grid-area: 6/1/7/3;
}

#calculator__decimal {
  grid-area: 6/3/7/4;
}

#calculator__equals {
  grid-area: 6/4/7/5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
}
.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 15px;
  background-color: #000000;
  border-radius: 10px;
}